<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>
    <style>
        body { font-family: Arial; background: #f4f4f4; text-align: center; }
        .box { background: white; margin: 50px auto; padding: 20px; width: 60%; border-radius: 8px; }
        nav a { margin: 15px; text-decoration: none; font-weight: bold; }
    </style>
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/live">Live News</a>
    <a href="/about">About</a>
</nav>

<div class="box">
    <h1>About This Project</h1>
    <p><strong>Project Title:</strong> Real-Time Fake News Detection Using NLP</p>
    <p><strong>Technology Used:</strong> Python, Flask, Machine Learning, TF-IDF, Logistic Regression</p>
    <p>This system analyzes news content and predicts whether it is Fake or Real using Natural Language Processing techniques.</p>
</div>

</body>
</html>